<footer class="future-footer">
  <div class="future-shell future-footer__grid">
    <div>
      <p class="future-footer__brand">Design Sense</p>
      <p class="future-footer__copy">
        Architecture and interior design consultancy based in Delhi NCR, delivering spaces that reduce friction before execution begins.
      </p>
    </div>
    <div>
      <h3>Contact</h3>
      <a href="tel:9899473055">9899473055</a>
      <a href="mailto:designsenseoffice@gmail.com">designsenseoffice@gmail.com</a>
      <span>Delhi NCR / Pan India</span>
    </div>
    <div>
      <h3>Network</h3>
      <a href="https://www.instagram.com/designsense.architects" target="_blank" rel="noreferrer">Instagram</a>
      <a href="https://www.designsensearchitects.com" target="_blank" rel="noreferrer">Website</a>
      <a href="/projects">Portfolio</a>
    </div>
  </div>
</footer>
